/* ========== EXTRA STYLE ======== */
.footer-grd {
  background: linear-gradient(
    106.93deg,
    #353935 -27.89%,
    #626d65 -7.91%,
    #809386 23.66%,
    #798e7e 24.13%,
    #8ba491 29.41%,
    #788f7e 35.83%,
    #687e6e 41.67%,
    #607566 50.38%,
    #647a6a 62.48%,
    #2b3b30 105.32%
  );
}

.inner-shadow {
  background: rgba(163, 193, 172, 0.62);
  box-shadow: 0px 4px 7px rgba(53, 57, 53, 0.25),
    inset 0px 4px 22px rgba(43, 59, 48, 0.25);
  border-radius: 15px;
}

/*===== Animation =====*/
.fade-in {
  animation: fade-in 1s ease 0s 1 normal forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slide-bottom {
  animation: side-bottom 1s ease-in 0s normal forwards;
}

.slide-bottom-1 {
  animation: side-bottom 1s ease-in 0.2s 5 normal forwards;
}

.slide-bottom-2 {
  animation: side-bottom 1s ease-in 0.4s 5 normal forwards;
}

.slide-bottom-3 {
  animation: side-bottom 1s ease-in 0.6s 5 normal forwards;
}

.slide-bottom-4 {
  animation: side-bottom 1s ease-in 0.8s 5 normal forwards;
}

@keyframes side-bottom {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */

.slide-top {
  animation: slide-top 1s ease 0.1s 1 normal forwards;
}

.slide-top-1 {
  animation: slide-top 1s ease 0.2s 1 normal forwards;
}

.slide-top-2 {
  animation: slide-top 1s ease 0.3s 1 normal forwards;
}

.slide-top-3 {
  animation: slide-top 1s ease 0.4s 1 normal forwards;
}

@keyframes slide-top {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.slide-right {
  animation: side-right 1s ease 0.4s normal forwards;
}

.slide-right-1 {
  animation: side-right 1s ease 0.6s normal forwards;
}

@keyframes side-right {
  0% {
    opacity: 0;
    transform: translateX(50px) rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0) rotate(-6deg);
  }
}

.slide-left {
  animation: side-left 1s ease 0.1s normal forwards;
}

.slide-left-1 {
  animation: side-left 1s ease 0.2s normal forwards;
}

.slide-left-2 {
  animation: side-left 1s ease 0.3s normal forwards;
}

.slide-left-3 {
  animation: side-left 1s ease 0.4s normal forwards;
}

@keyframes side-left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
