/* ========== EXTRA STYLE ======== */
.footer-grd {
  background: linear-gradient(
    106.93deg,
    #353935 -27.89%,
    #626d65 -7.91%,
    #809386 23.66%,
    #798e7e 24.13%,
    #8ba491 29.41%,
    #788f7e 35.83%,
    #687e6e 41.67%,
    #607566 50.38%,
    #647a6a 62.48%,
    #2b3b30 105.32%
  );
}

.inner-shadow {
  background: rgba(163, 193, 172, 0.62);
  box-shadow: 0px 4px 7px rgba(53, 57, 53, 0.25),
    inset 0px 4px 22px rgba(43, 59, 48, 0.25);
  border-radius: 15px;
}
